@use 'styles/variables' as *;
@use 'styles/mixins' as mixins;

textarea {
  flex: 1;
  padding-right: 0;
  border: 1px solid $grey-light;
  border-radius: $base-border-radius;

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: $grey-light
  }
}
