@use 'styles/mixins' as *;
@use 'styles/variables' as *;

.board {
  padding: 3rem 1rem;
  overflow: auto;
  max-height: calc(100dvh - 6rem);
  max-width: 90rem;

  @include for-size(sm) {
    padding: 3rem 3rem;
  }

  @include for-size(md) {
    padding: 4rem 4rem;
  }

  @include for-size(lg) {
    padding: 5rem 6rem;
    overflow: hidden;
  }

  &__header {
    gap: 2.5rem;
    nav {
      gap: 2rem;
    }
  }
}

.board-list-add-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: $blue-dark;
}

.task-board {
  width: 100%;
}
